<style>
    #navlist li
    {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
</style>
<ul id="navlist">
    <li><a href="/">Home</a></li>
    <li><a href="/articles">List articles</a></li>
</ul>
